.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: transparent;
  box-shadow: none;
  
}

.main-content {


    
  width: 100%;
}

.footer {
  background-color: #f8f9fa;
  padding: 1rem;
  text-align: center;
  margin-top: auto;
}

.footer p {
  margin: 0;
  color: #666;
}